html, body{

    width:100%;
  
    overflow-x: hidden;
  
    background-color:#000;
    font-family: 'Inconsolata', monospace;

  
    
    
  
  }
  
  
  
  
  h1 {
  
    padding-top:350px;
  
    font-size: 60px;
  
    margin-right: 60px;
  
    color:#fff;
  
  }
  
